{% extends "base.html" %}
{% block title %} About Project {% endblock %}
{% block content %}
<div class="readme">

  <article class="markdown-body entry-content container-lg" itemprop="text">
    <h1>Link Preview Project</h1>
    <h2>The Project Assignment</h2>
    <ul>
      <li>Scrape data of significance and clean it up.</li>
      <li>Automate the process of storing it in your database. </li>
      <li>Create a flask application that will make our database accessible from the web. Your flask views can return
        html or json depending on your preference.</li>
    </ul>

    <h2>Install</h2>
    <p><strong>Tip:</strong> There are <code>.env</code> or <code>.flaskenv</code> files present. Do "pip install
      python-dotenv" to use them.</p>
    <ul>
      <li>Run the below command lines</li>
    </ul>
    <pre><code>
      pip install python-dotenv
      flask run
      </code></pre>
    <h2>Files</h2>
    <ul>
      <li>Create a <code>config.py</code> to set Flask config variables with a <code>class Config:</code></li>
      <li>Create a <code>.env</code> file containing
        <ul>
          <li>Database <code>SQLALCHEMY_DATABASE_URI = 'sqlite:///your_db_name.db'</code></li>
        </ul>
      </li>
    </ul>
    <pre><code>
      SECRET_KEY = 
      SQLALCHEMY_DATABASE_URI =
      </code></pre>
    <ul>
      <li><code>import_script.py</code> a separates py file to Create and Inserts json data into SQLAlchemy</li>
      <li><code>app.py</code> executes the web application and creates the api class to render to the page</li>
    </ul>
    <h3>Using UUID</h3>
    <p>Stores a <strong>UUID</strong> in the database natively when it can and falls back to a BINARY(16) or a CHAR(32)
      when it can't.</p>
    <ul>
      <li><a href="https://sqlalchemy-utils.readthedocs.io/en/latest/data_types.html#module-sqlalchemy_utils.types.uuid"
          rel="nofollow" target="_blank">UUIDType from the SQLAlchemy-Utils package:</a></li>
      <li><a href="https://sqlalchemy-utils.readthedocs.io/en/latest/_modules/sqlalchemy_utils/types/uuid.html#UUIDType"
          rel="nofollow" target="_blank">Source code for sqlalchemy_utils.types.uuid</a></li>
    </ul>
    <pre><code>
      from sqlalchemy_utils import UUIDType
      import uuid
      
      class User(Base):
          __tablename__ = 'user'
      
          # Pass `binary=False` to fallback to CHAR instead of BINARY
          id = sa.Column(UUIDType(binary=False), primary_key=True)
      </code></pre>

    <h2>RESTful API</h2>
    <p>View project's GET <a href="/api">API</a></p>
    <p><a href="https://realpython.com/api-integration-in-python/" target="_blank" rel="noopener noreferrer nofollow">Learn</a> API Integration in Python – Part 1</p>
    
    <h2>Herokuapp</h2>
    <h3>Setup</h3>
    <p><strong>Install the Heroku CLI</strong></p>
    <pre><code>
      heroku login
      </code></pre>
    <p><strong>Clone the repository</strong></p>
    <pre><code>
      heroku git:clone -a python-web-scrapping
      cd python-web-scrapping
      </code></pre>
    <p><strong>Deploy your changes</strong></p>
    <pre><code>
      git add .
      git commit -am "make it better"
      git push heroku master
      </code></pre>
    <ul>
      <li>The application is now deployed. <code>heroku ps:scale web=1</code></li>
      <li>Now visit the app at the URL generated by its app name. <code>heroku open</code>
        <ul>
          <li>View logs <code>heroku logs --tail</code></li>
        </ul>
      </li>
      <li>Create the file <code>requirements.txt</code>
        <ul>
          <li>Install directing to heroku <code>pip install -r requirements.txt</code></li>
        </ul>
      </li>
    </ul>
    <pre><code>
      beautifulsoup4==4.9.3
      certifi==2020.12.5
      chardet==3.0.4
      click==7.1.2
      Flask==1.1.2
      Flask-Assets==2.0
      Flask-SQLAlchemy==2.4.4
      Flask-WTF==0.14.3
      gunicorn==20.0.4
      idna==2.10
      itsdangerous==1.1.0
      Jinja2==2.11.2
      MarkupSafe==1.1.1
      Pillow==8.0.1
      python-dotenv==0.14.0
      requests==2.25.0
      soupsieve==2.0.1
      SQLAlchemy==1.3.20
      urllib3==1.26.2
      webassets==2.0
      Werkzeug==1.0.1
      WTForms==2.3.3
      </code></pre>
    <p><strong>Define a Procfile - Microsoft Windows</strong></p>
    <ul>
      <li>Create files:
        <ul>
          <li><code>Procfile</code> and add the code <code>web: gunicorn gettingstarted.wsgi --log-file -</code></li>
          <li><code>Procfile.windows</code> and add the code <code>web: python manage.py runserver 0.0.0.0:5000</code>
          </li>
        </ul>
      </li>
    </ul>
    <h3>Execute</h3>
    <p>View the <a href="https://python-web-scrapping.herokuapp.com/" rel="nofollow" target="_blank">site</a> in action.</p>
    <h2>SQLite3</h2>
    <p>SQLite is a C-language library that implements a small, fast, self-contained, high-reliability, full-featured,
      SQL database engine. SQLite is the most used database engine in the world.</p>
    <p>Accessing <code>project_database.db</code> from the terminal (command prompt)</p>
    <ul>
      <li>Open computer terminal</li>
      <li><code>cd</code> to project directory</li>
      <li>In this project we define the database <code>'sqlite:///project_database.db'</code> config in
        <code>app.py</code>
        <ul>
          <li>Insert values to database by executing <code>py separate_import_file.py</code></li>
        </ul>
      </li>
      <li>Return to teminal and type command <code>sqlite3 project_database.db</code>
        <ul>
          <li><code>.tables</code> to display all tables in the database</li>
          <li><code>select * from tableDBName;</code> to display all column and rows in the database
            <ul>
              <li><code>select id from tableDBName;</code> to view the column <strong>id</strong> pirmary key created
                using <strong>UUID</strong></li>
            </ul>
          </li>
        </ul>
      </li>
    </ul>
    <pre><code>
      SQLite version 3.32.3 2020-06-18 14:00:33
      Enter ".help" for usage hints.
      sqlite&gt; .tables
      tableDBName
      sqlite&gt; select * from previewDB;
      sqlite&gt; select id from previewDB;
      </code></pre>
    <ul>
      <li>Use <strong>Ctrl+C</strong> to exit SQLite on Windows</li>
    </ul>
    <h3>SQLite3 Resources</h3>
    <ul>
      <li><a href="https://sqlite.org/index.html" rel="nofollow" target="_blank">What Is SQLite?</a></li>
      <li><a href="http://zetcode.com/db/sqlitepythontutorial/" rel="nofollow" target="_blank">SQLite Python tutorial</a></li>
      <li>Learned watching youtube video <a href="https://www.youtube.com/watch?v=KrRzZGcHjK8" rel="nofollow" target="_blank">Connecting
          to a SQLite Database Using Flask-SQLAlchemy</a></li>
    </ul>
  </article>

</div>
<p>More information about the project can be found in the github README repo <a
    href="https://github.com/berryny/-I2020_/tree/master/project-folder">here</a>.</p>
{% endblock %}