{% extends "base.html" %}
{% block title %}Category: {{title.capitalize()}}{% endblock %}
{% block content %}
  <h1><span>{{title}}</span> Previews</h1>
  <h2>Link Previews</h2>
  <p>A preview of url link containing the title, a description, the domain name and an image. </p>
  <div id="{{title}}" class="container">
    {% for preview in sitepreview: %}
      <div class="category">
        {% if preview['image'] %}
          <img src="{{preview['image']}}" alt="{{preview['title']}}" />
        {% elif preview['metaimage'] %}
          <img src="{{preview['metaimage']}}" alt="{{preview['title']}}" />
        {% endif %}
        <h3>{{preview['title']}}</h3>
        <p>{{preview['description']}}</p>
        <p><a class="btn" href="{{preview['url']}}" rel="noopener noreferrer nofollow">Go to site <span><i class="fas fa-external-link-alt"></i></span></a></p>
      </div>
    {% endfor %}
  </div>
  <p><a href="{{url_for('home')}}">Return to Home Page</a></p>
{% endblock %}
