{% extends "base.html" %}
{% block title %}Link Preview Project{% endblock %}
{% block content %}
<div class="home-container">
  <div class="banner-container">
    <h1>linkaholic</h1>
    <blockquote cite="https://www.urbandictionary.com/define.php?term=linkaholic">a person who devotes their life to sending people links via facebook, or other social media outlets <br><small>- Urban Dictionary</small></blockquote>
    <p>Select a category below</p>
  </div>
  <div class="category-list">
    <ul>
      {% for cat in catgData: %}
      <li><a href="/category/{{cat.lower()}}">{{cat.title()}}</a></li>
      {% endfor %}
    </ul>
  </div>
</div>
{% endblock %}