{% extends "base.html" %}
{% block title %}Link Preview Project{% endblock %}
{% block content %}
<div class="home-container">
  <div class="banner-container">
    <h1>Link Previews</h1>
    <p>A preview of url link containing the title, a description, the domain name and an image. </p>
    <p>Select a category below</p>
  </div>
  <div class="category-list">
    <ul>
      {% for cat in catgData: %}
      <li><a href="/category/{{cat.lower()}}">{{cat.title()}}</a></li>
      {% endfor %}
    </ul>
  </div>
</div>
{% endblock %}